  .my-drop-zone {
      border: dotted 3px lightgray;
  }

  .nv-file-over {
      border: dotted 3px red;
  }

  .another-file-over-class {
      border: dotted 3px green;
  }
  .preview-img {
    max-width: 200px;
    display: inherit;
    max-height: 200px;
}
m-5 {
    margin: 5px;
}